.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
db/schema.rb
config/database.yml
.DS_Store
app/assets/images/icons/
app/assets/images/thumbnail/
repository/
lib/squid/etc/squid.conf
lib/squid/etc/mime.conf
lib/squid/var/cache/*
lib/squid/var/logs/*
