<div id="simple-task-form" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Task</h4>
      </div>
      <div id="form-body" class="modal-body">
        <%= form_tag( { controller: "tasks", action: "simple_create"}, class: "form-inline" ) do %>
          <div class="input-group">
            <span class="input-group-btn">
              <%= select_tag :mission_id,
                  options_for_select( [["No Mission", nil]] +
                                      Mission.all.map{|m| [m.name, m.id]} ),
                  class: "btn chosen-select" %>
            </span>
            <%= text_field_tag "name", nil, placeholder: "Input new task", class: "form-control" %>
            <span class="input-group-btn">
              <button type="submit" class="btn btn-success">Create</button>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
