<%# -*- coding: utf-8 -*-  %>
<h2>作業一覧</h2>

<table class="task_table">
  <col class="title">
  <col class="durations">
  <col class="operations">
  <% tasks.each do |task| %>
    <%= render :partial => "tasks/task_item", :locals => {:task => task} %>
  <% end %>
</table>

