<h1>Listing tasks</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>State</th>
      <th>Name</th>
      <th>Deadline</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <%= render :partial => "tasks/task_item", :locals => {:task => task} %>
      </tr>
    <% end %>
  </tbody>
</table>
