<%# -*- coding: utf-8 -*-  %>
<%= stylesheet_link_tag "tasks" %>
<h2>作業一覧</h2>

<table id="task_table">
  <tr>
    <th class="name">名前</th>
    <th class="duration">期間</th>
    <th class="continue">操作</th>
  </tr>
  <% @tasks.each do |task| %>
    <%= render :partial => "tasks/task_item", :locals => {:task => task} %>
  <% end %>
</table>
