<div class="row">
  <div class="span2">
    <table class="missions table table-hover table-bordered">
      <thead>
        <tr>
          <th>Missions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="droppable-mission-for-task selected" id="nil">Undefined</td>
        </tr>
        <tr>
          <td class="droppable-mission-for-task" id="0">No mission</td>
        </tr>
        <% @missions.each do |mission| %>
        <tr>
          <td class="droppable-mission-for-task" id="<%= mission.id %>"><%= mission.name %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="span6">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Deadline</th>
        </tr>
      </thead>
      <tbody class="task-inbox">
        <% @tasks.each do |task| %>
          <%= render :partial => "tasks/inbox_item", :locals => {:task => task} %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
