<%# -*- coding: utf-8 -*-  %>
<%= stylesheet_link_tag "works" %>
<%# stylesheet_link_tag "jquery.treeview.css" %>
<%# javascript_include_tag "jquery.treeview.js" %>
<h2>仕事一覧</h2>

<ul class="work_list" style="margin-top: 20px;">
  <% works.each do |work| %>
  <li class="list_item" id="work<%= work.id %>">
    <%= render :partial => "works/list_item", :locals => {:work => work, :depth => 0} %>
  </li>
  <% end %>
</ul>

<%= will_paginate works, :previous_label => "<", :next_label => ">" %>
