##
## config/application_settings.yml
## <%= config[:description] %>
##
default: &default
  toggl:
    token: "<%= config[:toggl_token] %>"

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
