<h1>Mission Tree</h1>
<table class="table table-condensed table-treegrid">
  <%= render partial: 'missions/tree_grid_item',
             collection: @root_missions,
             as: :mission %>
</table>
