<h1>Mission Tree</h1>
<table class="table table-striped table-treegrid">
  <% @root_missions.each do |m| %>
    <%= render :partial => "missions/tree_grid_item", :locals => {:mission => m} %>
  <% end %>
</table>
