<h1>Listing time_entries</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Task</th>
      <th>Start time</th>
      <th>End time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @time_entries.each do |time_entry| %>
      <%= render :partial => "time_entries/time_entry_item", :locals => {:time_entry => time_entry} %>
    <% end %>
  </tbody>
</table>
