<h1>Listing time_entries</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Task</th>
      <th>Start time</th>
      <th>End time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'time_entries/time_entry_item',
               collection: @time_entries,
               as: :time_entry %>
  </tbody>
</table>
