//= require_self
//= require jquery.treeview
//= require fullcalendar
//= require jquery.minicolors
//= require jquery.treegrid
//= require jquery-ui
//= require_tree .

body {
  padding-top: 60px;
}

.sidebar {
  padding-top: 10px;
  padding-left: 10px;
  background-color: #F5F5F5;
  border: 1px solid #E3E3E3;
  border-radius: 5px;
}

.selected{
  background-color: #CCFF99;
}
