//= require_self
//= require bootstrap-datetimepicker
//= require jquery.treeview
//= require fullcalendar
//= require jquery.minicolors
//= require jquery.treegrid
//= require jquery-ui
//= require_tree .

.selected{
  background-color: #CCFF99;
}

.float-clear{
  clear: left;
}

.none{
  color: #eeeeee;
}

.little{
  color: #d6e685;
}

.a-little{
  color: #8cc665;
}

.not-a-little{
  color: #44A340;
}

.much{
  color: #1E6823;
}

.overflow-hidden{
  width:10em;
  overflow: hidden;
  color: #8e8e8e;
}

td{
  white-space: nowrap;
}

.timeline-margin{
  margin: 1em;
}

.timeline-item{
  color: #919191;
}

.timeline-box{
  font-size: 1.5em;
}
