/*
  デスクトップブックマーク スタイルシートファイル
  最終更新日：2008年9月29日
  小笠原 良
*/

html, body { height: 100%;}

body { 
  margin: 0px; 
  padding: 0px; 
  color: black;
  background-color: white;
  background-color: #ddd;
  font-size: 100%;
#  text-align: center;
#  font-family: Verdana,Arial;
#  letter-spacing: 0px;
#  line-height: 1.05em;
#  padding-top: 0.5em;
  margin-right: 4%;
  margin-left:  4%;
}

a { 
  text-decoration: underline;
}

a:link { 
  background: transparent none repeat;
  color: blue;
}

a:visited {
  background: transparent none repeat;
  color: purple;
}

a:hover, a:active { 
  background: transparent none repeat; 
  color: darkblue;
}

a img { 
  border-width: 0px;
  text-decoration: none;
}

a.h1{
  text-decoration: none;
  color: darkblue;
}

a.h2{
  text-decoration: none;
  color: seagreen;
}

h1 { 
  border-bottom: 1px solid darkblue;
  margin: 0em 0em 1em;
  font-size: 150%;
  color: darkblue;
  text-align: center;
}

h2 {
  border-bottom: 1px dotted seagreen;
  margin: 1.3em 0.5em 0.2em 0em; 
  background: transparent none repeat;
  font-size: 130%;
  color: seagreen;
}

h3 { 
  border-bottom: 1px dotted darkorange;
  margin: 1.3em 1em 0.2em 0em;
  background: transparent none repeat;
  font-size: 100%;
  font-weight: normal;
  color: darkorange;
}

h4 { 
  margin: 1.3em 1.5em 0.2em 0em;
  background: transparent none repeat;
  font-size: 90%;
  font-weight: bold;
  color: black;
}

/* --- layouts/application.html.erb --- */

nav#menu {
    height: 100%;
    width: 30%;
    min-width: 290px;
    max-width: 290px;
    float: left;
    top: 0px;
    left: 0px;
    position: fixed;
    margin: 0;
    background: #666;
    text-align: center;
    border:1px solid #444;
    box-shadow: 1px  0px 0px rgba(225,225,225,0.3) inset,
               -1px  0px 0px rgba(225,225,225,0.3) inset,
                0px  1px 1px rgba(0,0,0,0.1) inset,
                0px -1px 1px rgba(0,0,0,0.3) inset,
                0px  1px 3px #666;

}

div#title {
    height: 80px;
    vertical-align: middle;
}

div#title a {
    color: #fff;
    display:block;
    height: 100%;
    font-size: 20px;
    line-height:80px;
    font-weight:bold;
    text-shadow: 0 -1px 0px #333, 0 1px 0px #555;
}

div#main_menu {
    width: 100%;
    height: 50px;
}

#tabs ul,
#main_menu ul{
    width: 100%;
    margin: 0;
    list-style-type: none;
}
#tabs ul li,
#main_menu ul li {
    width: 33%;
    float:left;
    padding:0;
    margin:0;
    text-align: center;
}

#main_menu ul li a {
    width: auto;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0 -1px 0px #333, 0 1px 0px #555;
    padding: 10px 0;
    text-decoration: none;
    display: block;
    background: #666;
    background-image: -moz-linear-gradient(top, #888 0%, #777 50%, #666 50%, #777 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #888), color-stop(0.50, #777), color-stop(0.50, #666), color-stop(1, #777));
    border-left:1px solid #444;
    box-shadow: 1px  0px 0px rgba(225,225,225,0.3) inset,
               -1px  0px 0px rgba(225,225,225,0.3) inset,
                0px  1px 1px rgba(0,0,0,0.1) inset,
                0px -1px 1px rgba(0,0,0,0.3) inset,
                0px  1px 3px #666;
}

#main_menu ul li:first-child a {
    border-left:0;
    margin-left:2px;
    box-shadow:-1px  0px 0px rgba(225,225,225,0.3) inset,
                0px  1px 1px rgba(0,0,0,0.1) inset,
                0px -1px 1px rgba(0,0,0,0.3) inset,
                0px  1px 3px #666;
}

#main_menu ul li:last-child a {
    box-shadow: 1px  0px 0px rgba(225,225,225,0.3) inset,
                0px  1px 1px rgba(0,0,0,0.1) inset,
                0px -1px 1px rgba(0,0,0,0.3) inset,
                0px  1px 3px #666;    
}


#main_menu ul li a:hover {
    background: #555;
    background-image: -moz-linear-gradient(top, #555 0%, #444 50%, #333 50%, #444 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #555), color-stop(0.50, #444), color-stop(0.50, #333), color-stop(1, #444));
    box-shadow: 1px  0px 0px rgba(225,225,225,0) inset,
               -1px  0px 0px rgba(225,225,225,0) inset,
                0px  1px 1px rgba(0,0,0,0.1) inset,
                0px -1px 1px rgba(0,0,0,0.3) inset,
                0px  1px 3px #666;
}

div#time_edition {
    width: 98%;
    border: 1px solid #444;
    margin: 0 auto;
    margin-bottom: 10px;
    box-shadow: 1px  0px 0px rgba(225,225,225,0.3) inset,
               -1px  0px 0px rgba(225,225,225,0.3) inset,
                0px  1px 1px rgba(0,0,0,0.1) inset,
                0px -1px 1px rgba(0,0,0,0.3) inset,
                0px  1px 3px #666;
}

div#sub_menu_frame {
    height: auto;
}

div#tabs {
    width: 98%;
    height: 24px;
    margin: auto;
}

#tabs ul{
    margin: 0 auto;
    padding: 0;
    margin-left: 2px;
}

#tabs ul li a {
    border: 1px 1px 1px 0px solid #444;
    padding: 5px 0;
    width: auto;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0 -1px 0px #333, 0 1px 0px #555;
    text-decoration: none;
    display: block;
    background: #444;
    border-left:1px solid #444;
    box-shadow: 1px  0px 0px rgba(225,225,225,0.3) inset,
               -1px  0px 0px rgba(225,225,225,0.3) inset,
                0px  1px 1px rgba(0,0,0,0.1) inset,
                0px -1px 1px rgba(0,0,0,0.3) inset,
                0px  1px 3px #666;
}

#tabs ul li a#selected {
    border: 1px 1px 1px 0px solid #444;
    padding: 5px 0;
    width: auto;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0 -1px 0px #333, 0 1px 0px #555;
    text-decoration: none;
    display: block;
    background: #666;
    border-left:1px solid #444;
    background-image: -moz-linear-gradient(top, #888 0%, #666 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #888), color-stop(1, #666));
    box-shadow: 1px  0px 0px rgba(225,225,225,0.3) inset,
               -1px  0px 0px rgba(225,225,225,0.3) inset,
                0px  1px 1px rgba(0,0,0,0.1) inset,
                0px -1px 1px rgba(0,0,0,0.3) inset,
                0px  1px 3px #666;
}

div#notice_frame {
    width: 97%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 1px;
    border: 1px solid #444;
    border-top: 0px;
    color: #fff;
    text-align: left;
}

div#notice_area {
    padding: 10px;
    width: auto;
}

/* --- tasks/_list
       tasks/_task_item --- */

div#main {
#    width: 100%;
    padding-left: 300px;
#    background-color: #ddd;
}

tr.task_item {
    padding:5px 10px;
}

/* --- tasks/show --- */

div.task_header h2{
  float: left;
  margin: 0 0 0 0;
}

div.title {
  height: 30px;
  width: 86%;
  float: left;
}

div.restore {
  align: center;
  height: 30px;
  width: 14%;
  float: left;
}

div.keyword {
  font-size: large;
  font-weight: bold;
  white-space: normal;
}

div.keyword_header {
  width: 11%;
  float: left;
}

div.keyword_body {
  max-width: 69%;
  float: left;
  white-space: normal;
  word-break: break-all;
}

.pagination {
  padding: 3px;
  margin: 3px;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 0px solid #aaaadd;
  text-decoration: none;
  color: #000099;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #000099;
  color: #000;
}
.pagination *.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 0px solid #000099;
  font-style: normal;
  font-weight: bold;
  background-color: #000099;
  color: #FFF;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 0px solid #eee;
  color: #ddd;
}

div#button {
    width: 100px;
    background-color: palegreen;
}

