<tr>
  <td><%= link_to mission.name, mission %></td>
  <td><%= mission.deadline %></td>
  <td><%= link_to '<span class="icon-pencil"></span>'.html_safe,
          edit_mission_path(mission) %></td>
  <td><%= link_to '<span class="icon-trash"></span>'.html_safe,
          mission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
