<li>
  <% if mission.status %>
    <span class="icon-ok-sign"></span>
  <% else %>
    <span class="icon-remove-sign"></span>
  <% end %>
  <%= link_to mission.name, {controller:"missions", action:"show", id: mission.id}, {class: "mission"} %>
  <% if mission.children.present? || mission.tasks.present? %>
    <ul>
      <% mission.children.each do |child| %>
        <%= render :partial => "missions/tree_item", :locals => {:mission => child} %>
      <% end %>
      <% mission.tasks.each do |task| %>
        <%= render :partial => "tasks/tree_item", :locals => {:task => task} %>
      <% end %>
    </ul>
  <% end %>
</li>
