<h1>Listing missions</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>State</th>
      <th>Name</th>
      <th>Deadline</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'missions/mission_item',
               collection: @missions,
               as: :mission %>
  </tbody>
</table>
