<tr>
  <td><%= history_icon(integrated_history.representative_history) %></td>
  <td>
    <div class="overflow-hidden">
      <%= link_to integrated_history.representative_history.title,
                  { id: integrated_history.representative_history.id,
                    controller: "unified_histories",
                    action: "restore" },
                  { class: "timeline-item" } %>
    </div>
  </td>
  <td class="timeline-time"><%= seconds_to_s integrated_history.importance %></td>
  <% range.each do |date| %>
    <%= colored_box(integrated_history.importance_of_day(date)) %>
  <% end %>
</tr>
