<h3>File Histories</h3>
<% instance.file_histories.select{|fh| fh.usage == usage}.each do |file_history| %>
  <%= render :partial => "unified_histories/file_history_item",
      :locals => {:file_history => file_history} %><br>
<% end %>
<h3>Web Histories</h3>
<% instance.web_histories.select{|wh| wh.usage == usage}.each do |web_history| %>
  <%= render :partial => "unified_histories/web_history_item",
      :locals => {:web_history => web_history} %><br>
<% end %>
