<div class="row">
  <div class="span2">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Head Sample1</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Body Sample1</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="span6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Head Sample2</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Body Sample2</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
