<div class="row">
  <div class="span2">
    <table class="usage table table-hover table-bordered">
      <thead>
        <tr>
          <th>Usages</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="droppable-usage selected" id="nil">Inbox</td>
        </tr>
        <tr>
          <td class="droppable-usage" id="product">Product</td>
        </tr>
        <tr>
          <td class="droppable-usage" id="reference">Reference</td>
        </tr>
        <tr>
          <td class="droppable-usage" id="unneeded">Unneeded</td>
        </tr>
        <tr>
          <td class="droppable-usage" id="other">Other</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="span6">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Path</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody class="unified-history-inbox">
        <% @unified_histories.each do |unified_history| %>
          <%= render :partial => "unified_histories/inbox_item", :locals => {:unified_history => unified_history} %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
